bytewax==0.18.0
annotated-types==0.6.0
anyio==4.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
coloredlogs==15.0.1
fastembed==0.1.1
flatbuffers==23.5.26
grpcio==1.60.1
grpcio-tools==1.60.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.26.0
humanfriendly==10.0
hyperframe==6.0.1
idna==3.6
mpmath==1.3.0
numpy==1.26.4
onnx==1.15.0
onnxruntime==1.17.0
packaging==23.2
portalocker==2.8.2
protobuf==4.25.2
pycryptodome==3.20.0
pydantic==2.6.1
pydantic_core==2.16.2
PyPDF2==3.0.1
qdrant-client[fastembed]==1.7.3
requests==2.31.0
sniffio==1.3.0
sympy==1.12
tokenizers==0.13.3
tqdm==4.66.2
typing_extensions==4.9.0
urllib3==2.2.0
